*
{
    margin: 0;
    padding: 0;
}

html{
    background-color: #000000;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#common{
    align-items: center;
}

.titles{
    display: flex;
    color: #FA4EAB;
    align-items: center;
    height: 100vh;
    font-family: 'DREAMS', sans-serif;
    font-size: 1vmin;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    line-height: 5;


}

.section
{
    display: flex;
    color: #FA4EAB;
    align-items: center;
    height: 100vh;
    /* font-family: 'Cabin', sans-serif; */
    font-family: 'DREAMS', sans-serif;
    font-size: 0;
    padding-left: 10%;
    padding-right: 10%;
    color: transparent;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}